p { 
    font-size: 18px;
}
h1 {
    padding: 30px;
    background-color: maroon;
}

.materi {
    padding: 10px 24px;
    background-color: darkblue;
    font-size: 15px;
    border-color: grey;
    color: white;
    float: right;
    margin: 5px;
}
body{
    background: #4dff88;
    font-family: roboto;
    text-align: center;
}
h1,h2{
    color: #fff;
}
.ketengah{
    margin: 10px auto;
    width: 1150px;
}
.kotak1{
    background: #fcfcfc;
    padding: 20px;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
}
.kotak2{
    background: #fcfcfc;
    padding: 20px;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
    -ms-transform: translate(50px,100px); /* Support IE 9 */
     -webkit-transform: translate(50px,100px); /* support Safari */
     transform: translate(50px,100px); /* Standard syntax */
}
